.signinContainer {
  height: 100vh;
  width: 100vw;
}
#headingContainer {
  padding: 0px;
}
#sucessMessage {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  color: cyan;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: cyan;
  border-width: 2px;
  background-color: beige;
}
input {
  margin-bottom: 0.5vh;
}
label {
  font-family: "Roboto";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

p {
  color: red;
  margin-bottom: 0.5vw;
}

button {
  cursor: pointer;
  background-color: coral;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  width: 20vw;
}
.passwordMainReq {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.passwordRequirements {
  width: 100vw;
  text-align: center;
  color: black;
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 1vh;
}
ul {
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
  margin-bottom: 1vh;
  font-size: 1.5vh;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .details {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  ul {
    padding-left: 3vw;
  }
}

@media screen and (min-width: 600px) {
  .details {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
